# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Proto 1 real.iml
# Datasource local storage ignored files
/../../../../../../:\projects\Proto 1 real\.idea\.idea.Proto 1 real\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
